# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.log
venv/

# Database
db/*.sqlite3
db/__pycache__/

!db/schema.sql
!db/seed.sql

# Environment
.env
venv/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
desktop.ini
